.App {
  text-align: center;
}

.Container {
  margin: 20px;
}

.Record {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0px 0px 25px black;
}

@media (prefers-reduced-motion: no-preference) {
  .Record {
    animation: Record-spin infinite 10s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes Record-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
