@import 'assets/master';

.Question:focus-visible {
  outline: 0;
}

.Question {
  width: 100%;
  outline: 0;
  margin: 0;
}

.Question h1 {
  font-size: xx-large;
}

@media only screen and (max-width: 600px) {
  .Question {
    max-width: 100%;
  }
}

.SpanContainer {
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 20px;

  height: calc(100vh - 520px);
  width: calc(100vh - 520px);
  display: flex;
}

.RecordContainer {
  max-width: 300px;
  max-height: 300px;
}

.QuestionWrapper {
  background-color: $accent;
  width: 100%;
  height: 130px;
  display: flex;
}

.QuestionWrapper h1 {
  color: $light;
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: 1.7em;
}

.AnswersWrapper {
  padding-bottom: 20px;
  display: flex;
  height: calc(520px - 150px);
  align-items: center;
  justify-content: center;
}

@media only screen and (max-height: 650px) {
  .SpanContainer {
    display: none;
  }

  .AnswersWrapper {
    display: flex;
    height: calc(100vh - 150px);
    align-items: center;
    justify-content: center;
  }
}

.ScoreboardWrapper {
  height: 20px;
  width: 100%;
  background-color: green;
}
