$light: #f6f5f5;
$lightAccent: #ea9775;
$accent: #586e8b;
$darkAccent: #334762;
$dark: #1d131d;

$background: white;
$background2: rgb(245, 245, 245);

// $light: #2c2c2c;
// $lightAccent: #ea9775;
// $accent: #b1d3ff;
// $darkAccent: #334762;
// $dark: #200520;

// $background: black;
// $background2: rgb(26, 26, 26);
