.InputFieldWrapper input {
  /* border-radius: 25px; */
  /* border: 2px solid red; */
  /* padding-left: 25px; */
  background-color: transparent;
  display: inline-block;
  padding: 10px;
  border: none;
  width: 100%;

  outline: none;
}

.InputFieldWrapper input::placeholder {
  color: #161e3270;
}
