@import 'assets/master';

.ButtonWrapper button {
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  border-radius: 25px;

  background-color: $light;
  border-color: transparent;
  color: $accent;

  margin: auto;
}

.Pink button {
  color: #f5afad;
}
