imgContainer {
  width: 100%;
  height: 100%;

  display: inline-block;
}

.RecordWrapper {
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0px 0px 25px black;
  object-fit: cover;
  object-position: center center;
  animation: Record-spin infinite 10s linear;
  /* filter: blur(10px); */
}

@keyframes Record-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media only screen and (max-width: 650px) {
  .RecordWrapper {
    width: 200px;
  }
}
 */
/* @media only screen and (max-width: 350px) {
  .RecordWrapper {
    width: 100px;
  }
} */
