@import '../../assets/master';

.SearchBarWrapper {
  width: 100%;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.Input {
  background-color: $light;
  width: 80%;
}

.Submit {
  width: 20%;
  background-color: $lightAccent;
}

.Submit Button {
  color: $light;
}
