@import '../../assets/master';

.SearchWrapper {
  cursor: pointer;
  font-size: larger;
  width: 768px;
  /* padding-top: 50px; */
  background: white;
  text-align: left;
  font-size: x-large;
}

/* .SearchWrapper img {
  width: 30%;
} */

.SearchWrapper h1 {
  font-size: xx-large;
}

.QuickPlaylists {
  color: $accent;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  .SearchWrapper {
    width: 100%;
  }
}

.SearchW {
  background-color: $accent;
  list-style-type: none;
  text-align: center;
  padding: 50px 30px 50px 30px;
  list-style-type: none;
  text-align: center;
  display: flex;
}
